In [4]:
import pandas as pd

df = pd.read_csv("healthcare-data-qa/data/medical_data.csv")

df.head()

,Patient_ID,Age,Gender,Medical_Condition,Treatment,Outcome,Insurance_Type,Income,Region,Smoking_Status,Admission_Type,Hospital_ID,Length_of_Stay
0,1,77,Female,Chronic Obstructive,Dialysis,Stable,Public,77444,North,Former smoker,Urgent,3173,20
1,2,62,Female,Obesity,Physical therapy,Improved,Public,19367,West,Non-smoker,Urgent,65671,4
2,3,77,Male,Hypertension,Inhaler therapy,Improved,Medicare,16054,North,Non-smoker,Urgent,96914,3
3,4,41,Female,Alzheimer's Disease,Medication C,Worsened,Medicare,54371,West,Non-smoker,Emergency,15732,11
4,5,82,Male,Alzheimer's Disease,Chemotherapy,Stable,Private,55489,West,Non-smoker,Emergency,98232,2

In [5]:
df.shape

(1000, 13)

In [6]:
df.isnull().sum()

Patient_ID           0
Age                  0
Gender               0
Medical_Condition    0
Treatment            0
Outcome              0
Insurance_Type       0
Income               0
Region               0
Smoking_Status       0
Admission_Type       0
Hospital_ID          0
Length_of_Stay       0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df['Patient_ID'].nunique()

1000

In [10]:
df.describe(include='all')

,Patient_ID,Age,Gender,Medical_Condition,Treatment,Outcome,Insurance_Type,Income,Region,Smoking_Status,Admission_Type,Hospital_ID,Length_of_Stay
count,1000.000000,1000.000000,1000,1000,1000,1000,1000,1000.000000,1000,1000,1000,1000.000000,1000.000000
unique,NaN,NaN,8,15,13,3,3,NaN,4,2,3,NaN,NaN
top,NaN,NaN,Male,Chronic Kidney Disease,Medication B,Improved,Private,NaN,South,Former smoker,Urgent,NaN,NaN
freq,NaN,NaN,462,81,93,363,340,NaN,263,500,350,NaN,NaN
mean,500.500000,45.710000,NaN,NaN,NaN,NaN,NaN,50181.756000,NaN,NaN,NaN,51709.297000,10.041000
std,288.819436,26.797612,NaN,NaN,NaN,NaN,NaN,29178.022872,NaN,NaN,NaN,29653.627294,6.066145
min,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,169.000000,NaN,NaN,NaN,37.000000,0.000000
25%,250.750000,22.750000,NaN,NaN,NaN,NaN,NaN,24079.750000,NaN,NaN,NaN,25293.000000,5.000000
50%,500.500000,45.000000,NaN,NaN,NaN,NaN,NaN,51972.500000,NaN,NaN,NaN,52220.500000,10.000000
75%,750.250000,70.000000,NaN,NaN,NaN,NaN,NaN,74972.500000,NaN,NaN,NaN,78788.000000,15.000000
max,1000.000000,90.000000,NaN,NaN,NaN,NaN,NaN,99980.000000,NaN,NaN,NaN,99978.000000,20.000000

In [12]:
df[df['Age'] < 0]
df[df['Age'] > 120]

df[df['Length_of_Stay'] < 0]

Empty DataFrame
Columns: [Patient_ID, Age, Gender, Medical_Condition, Treatment, Outcome, Insurance_Type, Income, Region, Smoking_Status, Admission_Type, Hospital_ID, Length_of_Stay]
Index: []

In [ ]:
df['Gender'].value_counts()
df['Outcome'].value_counts()
df['Admission_Type'].value_counts()

Business Rule Validation

In [19]:
df.groupby('Admission_Type')['Length_of_Stay'].mean()

Admission_Type
Elective      9.580328
Emergency    10.136232
Urgent       10.348571
Name: Length_of_Stay, dtype: float64

Summary
- Dataset contains 1,000 records and 13 fields
- No missing values or duplicate records detected
- Patient_ID uniquely identifies each record
- Value ranges and categorical fields appear consistent
- Dataset is suitable for downstream analytics and migration validation